* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-wrap {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* nav laterale */
.nav-lat {
  width: 300px;
  height: calc(100% - 80px);
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_lat_up {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 50%;
}

.nav_lat_bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* lista playlist */
.list-playlist {
  height: 200px;
  overflow-y: scroll;
}
/* /lista playlist */
/*/ nav laterale */

/* corpo centrale */
.big-main {
  height: calc(100% - 80px);
  width: calc(100% - 300px);
  margin-left: 300px;
  padding-top: 80px;
  background-color: yellow;
  overflow-y: scroll;
}
/* nav trasparente */
.nav-up {
  height: 80px;
  width: 79%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
}
/* prima linea */
.row-select {
  display: flex;
}

.box-select {
  width: calc(100% / 6);
  height: 150px;
  background-color: lightblue;
  margin: 50px 10px;
}

/* media query linea img */
@media screen and (max-width: 1100px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 970px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 3);
    margin: 50px 50px;
  }

}
/* /nav trasparente */
/* /corpo centrale */
/* footer*/
.foot {
 width: 100%;
 height: 80px;
 background-color: red;
 position: fixed;
 bottom: 0;
}
/* footer */
