* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-wrap {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* nav laterale */
.nav-lat {
  width: 200px;
  height: calc(100% - 80px);
  background-color: 000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_lat_up {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: calc(100% - 200px);
}

/* logo nav laterale */
.logo_nav_lat {
  height: 80px;
  line-height: 80px;
  padding-left: 15px;
  border: 1px solid white;
}

.img_logo_nav_lat {
  max-width: 100px;
}
/* /logo nav laterale */
/* primo lstatonav laterale */
.search ul li {
  text-transform: capitalize;
  color: white;
  padding-left: 15px;
}
/*/ primo lstatonav laterale */

/* lista playlist */
.list-playlist {
  height: 200px;
  overflow-y: auto;
}

.nav_lat_bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
}
/* /lista playlist */
/*/ nav laterale */

/* corpo centrale */
.big-main {
  height: calc(100% - 80px);
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 80px;
  background-color: #141922;
  overflow-y: auto;
}
/* nav trasparente */
.nav-up {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
}
/* /nav trasparente */
/* prima linea */
.row-select {
  display: flex;
}

.box-select {
  width: calc(100% / 6);
  height: 150px;
  background-color: lightblue;
  padding:  50px 15px;
  margin: 50px 0;
  border: 1px solid black;
  background-color: pink;
}

/* media query linea img */
@media screen and (max-width: 1100px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 970px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 2);
  }

}

/* /nav trasparente */

/* /corpo centrale */
/* footer*/
.foot {
 width: 100%;
 height: 80px;
 background-color: #282828;
 position: fixed;
 bottom: 0;
}
/* footer */
