* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* classi regole */
 .container_flex {
   display: flex;
 }

 .white a:hover {
  color: #fff;
}

h2 {
  color: #fff;
  padding-left: 15px;
}
/* classi generali */

.big-wrap {
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* nav laterale */
.nav-lat {
  width: 200px;
  height: calc(100% - 80px);
  padding-left: 10px;
  background-color: 000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_lat_up {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: calc(100% - 200px);
}

/* logo nav laterale */
.logo_nav_lat {
  height: 80px;
  line-height: 80px;
}

.img_logo_nav_lat {
  max-width: 100px;
}
/* logo responsive */
.img_logo_nav_lat_r {
  max-width: 40px;
  display: none;
}
/* /logo nav laterale */
/* primo lstato nav laterale */
/* primo listato */
.search .s_home a  {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.search .s_home a img {
  color: #fff;
}
/* primo /listato */

.style a {
  text-decoration: none;
  text-transform: capitalize;
  color: #808080;
}


/*size immagini nav laterale*/
.img_size_nav {
  max-width: 30px;
  vertical-align: middle;
  color: #808080;
  margin-right: 10px;
}


/*/ primo listato nav laterale */
/* titolo nav laterale */

.playlist h3 {
  color: #fff;
  font-size: 0.9rem;
}

.playlist a i {
  font-size: 2rem;
  vertical-align: middle;
  padding-right: 10px;
}

.list-playlist {
  height: 200px;
  overflow-y: auto;
}
.list-playlist a {
  color: #808080;
  text-decoration: none;
}
/* /titolo nav laterale */
/* lista playlist */
.nav_lat_bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;
}

.nav_lat_bot img {
  max-width: 15px;
  vertical-align: middle;
  color: #808080;
  margin-right: 10px;
}


/* corpo centrale */
.big-main {
  height: calc(100% - 80px);
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 80px;
  background-color: #141922;
  overflow-y: auto;
}

/* media query nav laterale responsive */

@media screen and (max-width:750px) {

  .nav-lat span,
  .list-playlist {
    display: none;
  }

  .img_logo_nav_lat_r {
    width: 50px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .big-main {
    width: calc(100% - 60px);
    margin-left: 60px;
  }

  .nav-lat {
    width: 60px;
  }

}

/* nav trasparente */
.nav-up {
  height: 80px;
  width: calc(100% - 200px);
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.nav-up a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.nav-up a:hover {
  font-size: 1.2rem;
  border: 1.5px solid #fff;
}

@media screen and (max-width: 750px) {
  .nav-up {
    width: calc(100% - 60px);
  }
}


/* /nav trasparente */
/* menu main */
.list_main {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.list_main li {
  display: inline-block;
}

.list_main a{
  text-decoration: none;
  color: #808080;
  width: calc(100% / 6);
  padding: 0  5px;
  text-transform: uppercase;
}

/* /menu main */
/* prima linea */
.row-select {
  display: flex;
}

.box-select {
  width: calc(100%  / 6);
  background-color: lightblue;
  padding:  5px 5px;
  margin: 50px 0;
  /* border: 1px solid black; */
  background-color: pink;
}

.ctn_img {
  position: relative;
  width:  100%;
  height: 80%;
}

/* immagini */

.ctn_img img {
  width: 100%;
  height: 100%;
}

/* effetto hover */

.layout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.layout i {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
}

.ctn_img:hover .layout {
  display: block;
}

/* /effetto hover */

.ctn_name {
  height: 20%;
  text-align: center;
}

.ctn_name h4 {
  color: #fff;
  text-transform: capitalize;
}

.ctn_name span {
  color: #808080;
  font-size: 0.8rem;
}

/* media query linea img */
@media screen and (max-width: 1100px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 970px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 2);
  }

}

/* /nav trasparente */

/* /corpo centrale */
/* footer*/
.foot {
 width: 100%;
 height: 80px;
 background-color: #282828;
 position: fixed;
 bottom: 0;
}
/* footer */
