* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-wrap {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* nav laterale */
.nav-lat {
  width: 200px;
  height: calc(100% - 80px);
  padding-left: 10px;
  background-color: 000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_lat_up {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: calc(100% - 200px);
}

/* logo nav laterale */
.logo_nav_lat {
  height: 80px;
  line-height: 80px;
}

.img_logo_nav_lat {
  max-width: 100px;
}
/* logo responsive */
.img_logo_nav_lat_r {
  max-width: 40px;
  display: none;
}
/* /logo nav laterale */
/* primo lstato nav laterale */
/* primo listato */
.search .s_home a  {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.search .s_home a img {
  color: #fff;
}
/* primo /listato */

.style a {
  text-decoration: none;
  text-transform: capitalize;
  color: #808080;
}


/*size immagini nav laterale*/
.img_size_nav {
  max-width: 30px;
  vertical-align: middle;
  color: #808080;
  margin-right: 10px;
}

 .white a:hover {
  color: #fff;
}
/*/ primo listato nav laterale */
/* titolo nav laterale */

.playlist h1 {
  color: #fff;
  font-size: 0.9rem;
}

.playlist a i {
  font-size: 2rem;
  vertical-align: middle;
  padding-right: 10px;
}

.list-playlist {
  height: 200px;
  overflow-y: auto;
}
.list-playlist a {
  color: #808080;
  text-decoration: none;
}
/* /titolo nav laterale */
/* lista playlist */
.nav_lat_bot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;
}

.nav_lat_bot img {
  max-width: 15px;
  vertical-align: middle;
  color: #808080;
  margin-right: 10px;
}

/* media query nav laterale responsive */

@media screen and (max-width:750px) {
  span {
    display: none;
  }

  .img_logo_nav_lat_r {
    max-width: 40px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-lat {
    width: 50px;
  }

  .big-main {
    width: calc(100% - 50px);
    padding-left: 50px;
  }
}

.big-main {
  height: calc(100% - 80px);
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 80px;
  background-color: #141922;
  overflow-y: auto;
}
/* nav trasparente */
.nav-up {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
}
/* /nav trasparente */
/* prima linea */
.row-select {
  display: flex;
}

.box-select {
  width: calc(100% / 6);
  height: 150px;
  background-color: lightblue;
  padding:  50px 15px;
  margin: 50px 0;
  border: 1px solid black;
  background-color: pink;
}

/* media query linea img */
@media screen and (max-width: 1100px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 970px) {
  .row-select {
    display: flex;
    flex-wrap: wrap;
  }

  .box-select {
    width: calc(100% / 2);
  }

}

/* /nav trasparente */

/* /corpo centrale */
/* footer*/
.foot {
 width: 100%;
 height: 80px;
 background-color: #282828;
 position: fixed;
 bottom: 0;
}
/* footer */
